<% if @user.errors.any? %>
        <h6 class="error"><%= @user.errors.full_messages.to_sentence %></h6>
<% end %>

<%= form_with model: @user, local: true do | f | %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br><br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Update Profile" %>
<% end %>