<h1>Welcome, <%= @user.name %><h1>
<br><br>
<h3><%= @user.username %></h3><br>
<h3><%= @user.email %></h3><br>

<h4>My Concerts</h4>
<% @user.concerts.each do | concert | %>
    <p><%= link_to concert.headliner, concert_path(concert) %></p>
    <p><%= concert.opener %></p>
    <p><%= concert.date.strftime("%a %b %e, %Y") %></p>
    <p><%= concert.time.strftime("%I:%M %p") %></p>
<% end %>

<%= link_to "Update My Profile", edit_user_path(@user) %>
<%#= link_to "Delete My Profile",  %>