<h3>Buy your ticket(s) for <%= @concert.headliner %></h3>

<%= form_with model: @ticket do | f | %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= f.submit "Purchase" %>
<% end %>