<h3>Buy your ticket(s) for <%= @concert.headliner %> on <%= @concert.date.strftime("%a %b %e, %Y") %> at <%= @concert.time.strftime("%I:%M %p") %> </h3>

<%= form_with model: [@concert, @ticket] do | f | %>
    <%= f.hidden_field :confirmation, value: Faker::Number.number(digits: 15) %>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
    <%= f.submit "Purchase" %>
<% end %>