<br>
<div class="container">
    <h2>THE TRAINYARD PRESENTS: EARLY CONCERTS</h2>
    
    <ul class="list-group">
        <% @concerts.each do | concert | %>
            <li class="list-group-item">
            <h5><%= link_to concert.headliner, concert_path(concert) %></h5>
            <h6><%= concert.opener %></h6>
                <%= concert.date.strftime("%a %b %e, %Y") %><br>
                <%= concert.time.strftime("%I:%M %p") %><br>
                $<%= concert.price %><br>
                <% if concert.sold_out == true %>
                    <%= concert.sold_out = "SOLD OUT" %><br>
                <% else %>
                    <%= concert.sold_out = "Tickets available"%><br>
                <% end %>
            </li>
    </ul>
    <% end %>
    <br>
    <%= link_to "Back", concerts_path(@concert), class: "btn btn-outline-dark" %>
    <br>
</div>
