<% @concerts.each do | concert | %>
    <h2><%= concert.title  %></h2>
    <h5><%= concert.headliner %></h5>
    <h6><%= concert.opener %></h6>
    <ul>
        <li><%= concert.date %></li>
        <li><%= concert.time %></li>
        <li><%= concert.price %></li>
        <li><%= concert.sold_out %></li>
    </ul>
<% end %>
