<% @concerts.each do | concert | %>
    <h1>THE TRAINYARD PRESENTS</h1>
    <h2><%= link_to concert.headliner, concert_path(concert) %></h2>
    <h4><%= concert.opener %></h4>
    <ul>
        <li><%= concert.date.strftime("%a %b %e, %Y") %></li>
        <li><%= concert.time.strftime("%I:%M %p") %></li>
        <li>$<%= concert.price %></li>
        <li><%= concert.sold_out %></li>
    </ul>
<% end %>
