<br>
<div class="container">
    <h2>THE TRAINYARD PRESENTS</h2>
    
    <p> Still getting back into the groove of live music? Check out our <%= link_to "early shows", href="concerts/early" %> for more info.</p>
    <ul class="list-group">

        <% if @results.empty? %>
            <% flash[:notice] = "Sorry, no results found!" %>
        <% else %>
    
            <% @results.each do | concert | %>
                <li class="list-group-item">
                <h5><%= link_to concert.headliner, concert_path(concert) %></h5>
                <h6><%= concert.opener %></h6>
                    <%= concert.date.strftime("%a %b %e, %Y") %><br>
                    <%= concert.time.strftime("%I:%M %p") %><br>
                    $<%= concert.price %><br>
                    <% if concert.sold_out == true %>
                        <%= concert.sold_out = "SOLD OUT" %><br>
                    <% else %>
                        <%= concert.sold_out = "Tickets available"%><br>
                    <% end %>
                </li>
            <% end %>
        <% end%>
    </ul>
</div>
