<h1>THE TRAINYARD PRESENTS</h1>
<h2><%= link_to @concert.headliner%></h2>
<h3>with</h3>
<h4><%= @concert.opener %></h4>
<ul>
    <li><%= @concert.date.strftime("%a %b %e, %Y") %></li>
    <li><%= @concert.time.strftime("%I:%M %p") %></li>
    <li>$<%= @concert.price %></li>
</ul>

<%= link_to "Buy Tickets", new_concert_ticket_path(@concert)  %>
