<br>
<div class="container">
    <h4>THE TRAINYARD PRESENTS</h4>
    <h5><%= @concert.headliner%></h5>
    <h6>with</h6>
    <h6><%= @concert.opener %></h6>
    <ul>
        <li><%= @concert.date.strftime("%a %b %e, %Y") %></li>
        <li><%= @concert.time.strftime("%I:%M %p") %></li>
        <li>$<%= @concert.price %></li>
    </ul>
    <br><br>

    <% if @concert.sold_out == false %>
       <%= link_to "Buy Tickets", new_concert_ticket_path(@concert), class: "btn btn-outline-dark"   %>
    <% else %>
        <p>We're sorry. This concert is currently <b>SOLD OUT</b>.</p>
    <% end %>
    <br><br>
    <%= link_to "Back", concerts_path(@concert), class: "btn btn-outline-dark" %>
</div>
